/* Basic Style */
.todo-app {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header__wrapper {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__wrapper .header__img {
  width: 100%;
}

.header__wrapper .header__link-more {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header__wrapper {
    text-align: center;
  }

}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.task-row__wrapper {
  display: flex;
}

.todo__list {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
}

.btn-add:hover {
  color: #0FC57C !important;
}

.input, .btn {
  outline: none;
}

.btn {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3A3a;
}

/* Heading */
.row-title,
.label-add {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input.text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input.text:focus {
  color: #333;
}

/* New Task */
.label-add {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > * {
  vertical-align: middle;
}

.list-item > .input.checkbox {
  margin: 0 10px;
}

.list-item > .task {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item > .input.text {
  width: 226px
}

.list-item > .delete-btn:hover {
  color: #CF2323;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks .task.label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.todo__list .list-item .text {
  display: none
}

.todo__list .list-item.edit-mode .text {
  display: inline-block;
  width: 224px
}

.todo__list .list-item.edit-mode .task.label {
  display: none;
}